/***************************
### Checkbox to switch
****************************/
.wapo_checkswitch {
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #005cc8;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #005cc8;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
}

/***************************
### Other form adjustments
****************************/
input.form-control[type=range]:focus{
  border: none;
  box-shadow: none;
}

/***************************
### Temp for test page.php
****************************/
.vueBooks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.vueBooks li {
  padding: 1rem;
  background: rgb(0, 0, 0, 0.02);
}

/***************************
### Admin styles
****************************/

.collapsible-settings-sect{
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform  0.4s ease, opacity .8s linear, max-height .3s ease;
}

.settings-sect-open{
  max-height: 10000px;
  overflow: visible;
  transform: scaleY(1);
  opacity: 1;
}